body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #e6e6e6;

}

.width {
  width: 70%;
  margin: 20px auto 20px auto;
  font-size: 0;
}

.link {
  text-align: center;
  img {
    width: 22px;
  }
}

.selected{
  color: #FFFFFF;
  font-weight: bold;
}

.square {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 1px;
  transition: border-color, background-color 1s linear;
  &.empty {
    background-color: white;
    border: 1px solid #1C1C1C;
  }
  &.full {
    background-color: #1C1C1C;
    border: 1px solid white;
  }
  &.full:hover {
    border-color: #1C1C1C;
  }
  &.empty:hover {
    border-color: white;
  }
}

.info {
  padding-bottom: 5px;
  .text {
    font-size: 15px;
    vertical-align: top;
    height: 22px;
    display: inline-block;
    margin: 1px;
    line-height: 22px;
    padding-right: 5px;

    span {
      font-weight: bold;
    }
  }
}

.block-days, .block-weeks {
  background: linear-gradient(148deg, #4d4c4c, #ffffff);
  background-size: 150% 150%;
  margin-top: 4px;
}
.block-weeks{
  padding: 20px 20px 4px 20px;
}
.block-days{
  padding: 4px 20px 20px 20px;
}

.block-video.show {
  background-color: #1C1C1C;
  height: 380px;
  padding-bottom: 20px;

  .video {
    iframe {
      opacity: 1;
      width: 640px;
      height: 360px;
    }
  }

  .btn {

    &:hover {
      background-color: #1C1C1C;
      cursor: default;
    }

    .show {
      opacity: 0;
    }

    .hide {
      opacity: 1;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.block-video {
  margin-top: 4px;

  .btn {
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    font-size: 15px;
    background-color: #1C1C1C;
    transition: background-color 0.5s linear;

    .show {
      color: #FFFFFF;
      opacity: 1;
      &:hover {
        cursor: pointer;
      }
    }

    .hide {
      opacity: 0;
      float: right;
      padding-right: 5px;
      color: #FFFFFF;
    }
  }

  .video {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    iframe {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
}

@media all and (max-width: 930px) {
  .block-video .video {
    width: 400px;
    iframe {
      width: 400px;
      height: 260px;
    }
  }
}

@media all and (max-width: 600px) {
  .width {
    width: 98%;
  }
}

@media all and (max-width: 420px) {
  .block-video .video {
    width: 100%;
    iframe {
      width: 100%;
      height: auto;
    }
  }
}

@media all and (max-width: 230px) {
  .block-date img {
    display: none;
  }
}